body {
	color: #666666;
}
.text_right {
	text-align: right;
}
.big {
	font-size: 16px;
}
.bold {
	font-weight: bold;
}
a.active-nav {
	color: orange;
}
a, a.inactive-nav {
	color: black;
}

.active-nav, .inactive-nav {
	font-size: 20px;
	text-decoration: none;
}
.float-right {
	float: right;
}
.project-image-buffer {
	margin: .5em 0 15px 15px;
}
img, div { behavior: url(iepngfix.htc) }