body {
	color: #666666;
}
.text_right {
	text-align: right;
}
a.active-nav {
	color: orange;
}
a, a.inactive-nav {
	color: black;
}

.active-nav, .inactive-nav {
	font-size: 18px;
	text-decoration: none;
}
.float-right {
	float: right;
}