<% for project in @projects %>
<div class="span-14 first"><%= project.name %></div>
<div class="span-10 last"><%=h project.client %></div>
<div class="span-24 first last"> <%= image_tag project.article_image.public_filename, :class => 'float-right' %> <%=h project.description %></div>
<% end %>
